BODY, A {
	font-family: verdana, geneva, sans-serif;
	margin: 0px;
	padding: 0px;
	border: none;
	color: rgb(0,0,0);
	font-size: 13px;
	line-height: 1.5;
}

@media print {
	#kartei, #suche, .nav_item {
		display: none;
	}
}

body.linksluft {
	padding-left: 20px;
	padding-right: 35px;
}

body.maske {
	padding-left: 20px;
	background-color: #FFC;
}

body.maske TABLE {
	width: 596px;
}

body.maske TABLE TR {
}

body.maske TABLE TH {
	padding: 3px 3px 3px 10px;
	background-color: rgb(102,102,102);
	color: rgb(255,255,255);
	text-align: left;
}

body.maske TABLE TR TD {
	padding: 3px 3px 3px 10px;
	background-color: rgb(255,219,93);
}

body.maske TABLE TR TD INPUT {
	height: 20px;
	border: 1px solid #999; /* TEST */
}

body.maske TABLE TR TD TEXTAREA {
	border: 1px solid #999; /* TEST */
}

body.maske .rand {
	border: 1px solid #999;	
}

select {
	margin-right: 7px;
}

div.clearheinz {
	clear: both;
	margin-bottom: 20px;
}

H1 {
	font-size: 19px;
	margin: 0 0 15px 0;
}

H1 EM {
	font-size: 19px;
	color: rgb(209,31,57);
	font-style: normal;
}

H2 {
	font-size: 17px;
	margin-bottom: 5px;
}

H2 EM {
	font-size: 17px;
	color: rgb(209,31,57);
	font-style: normal;
}

H3 {
	font-size: 15px;
	margin-bottom: 5px;
}

H3 EM {
	font-size: 15px;
	color: rgb(209,31,57);
	font-style: normal;
}


B {
	font-weight: bold;
}

I {
	font-style: italic;
	color: rgb(102,102,102);
}

EM {
	font-style: normal;
	font-weight: bold;
	color: rgb(209,31,57);
}

A {
	text-decoration: none;
}

A:VISITED, A:LINK {
	color: #A70000;
}

A:HOVER {
	color: rgb(209,31,57);
}

UL {
	margin-left: 10px;
}

#kartei {
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 6px;
	width: 31px;
}

#kartei A, #kartei SPAN {
	display: block;
	width: 32px;
	text-decoration: none;
	text-align: center;
	line-height: 21px;
	margin: 2px 0px 3px 4px;
	background-color: #EEE;
	color: #666;
	border-top: 1px solid #CCC; /* TEST */
	border-left: 1px solid #CCC; /* TEST */
	border-bottom: 1px solid #777; /* TEST */
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

#kartei A:VISITED, #kartei A:LINK {
	color: rgb(0,0,0);
	background-color: #FFE699;
}

#kartei A:HOVER {
	width: 31px;
	color: rgb(255,255,255);
	background-color: rgb(204,0,0);
	font-weight: bold;
}

#suche {
	width: 150px;
	font-size: 11px;
	height: 20px;
	padding: 0px;
	margin: 5px 5px 0 0;
	background-color: rgb(255, 250, 173);
	border-top: 1px solid #CCC; /* TEST */
	border-left: 1px solid #CCC; /* TEST */
	border-right: 1px solid #000; /* TEST */
	border-bottom: 1px solid #000; /* TEST */

}

#suche_button {
	margin: 0px 0 0 0px;
	height: 20px;
	padding: 0 2px 0 2px;
}

#messages {
	padding: 10px;
	width: 800px;
	background-color: #B3E6FF;
	margin: 10px 20px 10px 0px;
	border: 1px solid #66CCFF;
}

/*.NAVIGATION.*/

// TODO where is this class used?
#buttons {
	margin: 0 0 20px 7px;
	padding: 4px 0 2px 0;
	width: 190px;
	color: rgb(0,0,0);
	text-align: center;
	background-color: rgb(240,240,240);
	border-top: 1px solid #CCC; /* TEST */
	border-left: 1px solid #CCC; /* TEST */
	border-right: 1px solid #000; /* TEST */
	border-bottom: 1px solid #000; /* TEST */
}

#buttons A {
	padding: 2px;
}

#buttons A:HOVER {
	background-color: rgb(255,204,0);
}


UL.unfolding_list {
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
	width: 192px;
	list-style: none;
	margin: 0 0 0 0px;
	background-color: #E6E6E6;
	padding: 0px 0 0 0;
	border: 1px solid #aaa;
}

/*.GEBURTSTAGE.*/

#geburtstag {
	margin: 20px 0 20px 7px;
	width: 500px;
	color: rgb(0,0,0);
	background-color: rgb(230,230,230);
	border-top: 1px solid #CCC; /* TEST */
	border-left: 1px solid #CCC; /* TEST */
	border-right: 1px solid #000; /* TEST */
	border-bottom: 1px solid #000; /* TEST */
	float: left;
}

#geburtstag tr.zeihell {
	background-color: rgb(250,250,250);
}

#geburtstag tr.zeidunkel {
	background-color: rgb(240,240,240);
}


/* .Deklarationen fuer die Personendarstellung. */

TR {
	vertical-align: top;
	background-color: rgb(230,230,230);
}

TD {
	padding: 0 3px;
}

#pers_bild {
	float: right;
	margin: 0 50px 0 0;
	border: 1px solid #CCC; /* TEST */
}

.pers_titel {
	width: 548px;
	color: rgb(255,255,255);
	padding: 3px 0;
	font-weight: bold;
	border-top: 1px solid #CCC; /* TEST */
	border-left: 1px solid #CCC; /* TEST */
	border-right: 1px solid #000; /* TEST */
	border-bottom: 1px solid #000; /* TEST */
	background-color: rgb(102,102,102);
}

TABLE.display_person {
	margin: 0 0 20px 0;
	width: 550px;
	color: rgb(0,0,0);
	border-top: 1px solid #CCC; /* TEST */
	border-left: 1px solid #CCC; /* TEST */
	border-right: 1px solid #000; /* TEST */
	border-bottom: 1px solid #000; /* TEST */
}
TABLE.display_person TD.links {
	width: 150px;
}
TABLE.display_person TD.rechts {
}

TD.icon {
	width: 12px;
}


/*.Eingabemasken.*/

#schritte {
	border-collapse: collapse;
	width: 596px;
	height: 194px;
}

#schritte .normal {
	width: 149px;
	height: 194px;
	color: #FFF;
	line-height: 194px;
	text-align: center;
	background-image: url(../eicons/gelbpfeil.gif);
	background-position: left;
	background-repeat: no-repeat;
}

#schritte .aktiv {
	width: 149px;
	height: 194px;
	color: #FFF;
	line-height: 194px;
	text-align: center;
	background-image: url(../eicons/rotpfeil.gif);
	background-position: left;
	background-repeat: no-repeat;
}

.input_block {
	float: left;
	width: 149px;
}

.box_596 {
	clear: left;
	width: 596px;
}

DIV.geb_monat_kasten {
	float: left;
	width: 200px;
	height: 350px;
	overflow: auto;
	margin: 10px 0px 10px 20px;;
	padding: 5px;
	border: 1px solid #AAA;
	background-color: rgb(230,230,230);
}

#liste {
	margin: 0px;
	padding: 0px;
}

#liste TD {
	margin: 0px;
	padding: 2px 5px;
}

#liste TR.hell {
	background-color: rgb(255, 255, 255);
}

#liste TR.dunkel {
	background-color: rgb(240, 240, 240);
}
#version {
	position: fixed;
	right: 0px;
	bottom: 0px;
	background-color: #CCF;
	padding: 2px 5px 2px 9px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
}
SPAN.graytext {
	color: #555;
}
